<%= render "shared/header" %>
<div class="main-contents">
  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <%= link_to recipe_path(recipe) do %>
         <p class="recipe-content">
          <%= image_tag recipe.image, class: "recipe-image" if recipe.image.attached? %>
         </p>
        <% end %>
         <p class="recipe-title">
          <%= recipe.dish_name%>
         </p>
      </div>
    <% end %>
  </div>

  <div class="search">
   <p class="search-name"><%= link_to 'レシピ検索', search_recipes_path%></p>
    <%= search_form_for @q, url: search_recipes_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-name">
      <%= f.text_field :dish_name_cont, placeholder: 'レシピ名' %>
    </div>
    <div class="search-name">
      <%= f.label :moon_age_id_or_classification_id_eq, 'カテゴリ' %>
    </div>
    <div class="search-name">
      <%= f.collection_select(:moon_age_id_eq, MoonAge.where.not(id:1), :id, :name, {include_blank: "月齢を選ぶ"}, {class:"genre-select"}) %>
    </div>
    <div class="search-name">
      <%= f.collection_select(:classification_id_eq, Classification.where.not(id:1), :id, :name, {include_blank: "分類を選ぶ"}, {class:"genre-select"}) %>
    </div>
    <div class="search-name">
      <%= f.submit '検索' %>
    </div>
   <% end %>
  </div>
</div>
<%= render "shared/footer" %>