<%= render "shared/header" %>

<div class="main-contents">
  <div class="articles">
    <% @recipes.each do |recipe| %>
      <div class="article">
        <%= link_to recipe_path(recipe) do %>
        <p class="article-content">
          <%= image_tag recipe.image, class: "article-image" if recipe.image.attached? %>
        </p>
        <div class="article-overview">
            <p class="article-title">
              <%= recipe.dish_name%>
            </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="ranking">
    <p class="ranking-name">
      レシピ検索
    </p>
  </div>
</div>

<%= render "shared/footer" %>