<%= render "shared/header" %>

<div class="main-contents">
  <div class="articles">
    <% @recipes.each do |recipe| %>
      <div class="article" id=<%= recipe.id%>>
        <p class="article-content">
          <%= image_tag recipe.image.variant(resize_to_fill: [500, 500]), class: "article-image" if recipe.image.attached? %>
        </p>
        <div class="article-overview">
          <%#= link_to check_path(article) do %>
            <p class="article-title">
              <%= recipe.dish_name%>
            </p>
          <%# end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ranking">
    <p class="ranking-name">
      レシピ検索
    </p>
  </div>
</div>

<%= render "shared/footer" %>