<%= render "shared/header" %>
<div class="show-recipe">
  <p class="show-recipe-title">
    <%= @recipe.dish_name %>
  </p>
  <p class="show-recipe-content2">
    <%= @recipe.moon_age.name %>
  </p>
  <p class="show-recipe-content3">
    <%= @recipe.classification.name %>
  </p>
  <%= image_tag @recipe.image, class: "show-recipe-image" %>
  <p class="title">
      材料
  </p>
  <p class="show-recipe-content">
    <%= @recipe.ingredient %>
  </p>
  <p class="title">
      レシピ
  </p>
  <p class="show-recipe-content">
     <%= @recipe.make %>
  </p>
  <p class="title">
      紹介文
  </p>
  <p class="show-recipe-content">
     <%= @recipe.introduction %>
  </p>
  <p class="title">
      投稿者
  </p>
  <p class="show-recipe-content">
     <%= @recipe.user.user_name %>
  </p>
</div>

<% if current_user == @recipe.user %>
  <div class="change-recipe">
    <div class="edit-recipe">
      <%= link_to "編集", edit_recipe_path(@recipe), class:"edit-btn" %>
    </div>
    <div class="delete-recipe">
      <%= link_to "削除", recipe_path(@recipe), method: :delete, class:"delete-btn" %>
    </div>
  </div>
<% end %>

<div class="return-toppage">
  <%= link_to "トップページへ戻る", root_path, class:"return-btn" %>
</div>

<%= render "shared/footer" %>