<%= render "shared/header" %>
<div class="show-article">
  <p class="show-article-title">
    <%= @recipe.dish_name %>
  </p>
  <p class="show-article-post-date">
    <%#= @article.created_at.strftime("%Y年 %m月 %d日") %>
  </p>
  <%= image_tag @recipe.image.variant(resize: '500x500'), class: "show-article-image" %>
  <p class="show-article-content">
    <%= @recipe.ingredient %>
  </p>
</div>

<%# if current_user.admin == true %>
  <div class="change-article">
    <div class="edit-article">
      <%#= link_to "編集", edit_recipe_path(@recipe), class:"edit-btn" %>
    </div>
    <div class="delete-article">
      <%= link_to "削除", recipe_path(@recipe), method: :delete, class:"delete-btn" %>
    </div>
  </div>
<%# end %>

<div class="return-toppage">
  <%= link_to "トップページへ戻る", root_path, class:"return-btn" %>
</div>

<%= render "shared/footer" %>