<%= render "shared/header" %>
<div class="show-article">
  <p class="show-article-title">
    <%= @recipe.dish_name %>
  </p>
  <%= image_tag @recipe.image, class: "show-article-image" %>
  <p class="title">
      材料
  </p>
  <p class="show-article-content">
    <%= @recipe.ingredient %>
  </p>
  <p class="title">
      レシピ
  </p>
  <p class="show-article-content">
     <%= @recipe.make %>
  </p>
  <p class="title">
      紹介文
  </p>
  <p class="show-article-content">
     <%= @recipe.introduction %>
  </p>
</div>

<% if current_user == @recipe.user %>
  <div class="change-article">
    <div class="edit-article">
      <%= link_to "編集", edit_recipe_path(@recipe), class:"edit-btn" %>
    </div>
    <div class="delete-article">
      <%= link_to "削除", recipe_path(@recipe), method: :delete, class:"delete-btn" %>
    </div>
  </div>
<% end %>

<div class="return-toppage">
  <%= link_to "トップページへ戻る", root_path, class:"return-btn" %>
</div>

<%= render "shared/footer" %>