<%= render "shared/header" %>
<div class="main-contents">
  <div>
    <p class="user-show-name">
      <%= "#{@user.user_name}さんのレシピ" %>
    </p>
    <%= link_to 'トップベージへ', root_path, class:"root-btn"%>
    <%= link_to 'お気に入りレシピ', favorites_user_path(@user), class:"root-btn"%>
  </div>
  <div class="recipes1">
     <% @recipes.each do |recipe| %>
      <div class="recipe1">
        <%= link_to recipe_path(recipe) do %>
         <p class="recipe-content">
          <%= image_tag recipe.image, class: "recipe-image" if recipe.image.attached? %>
         </p>
        <% end %>
         <p class="recipe-title">
          <%= recipe.dish_name%>
         </p>
      </div>
     <% end %>
  </div>
</div>
<%= render "shared/footer" %>