<%= render "shared/header" %>
<div class="main-contents">
  <div class="recipes1">
      <p class="user-show-name">
      <%= "#{@user.user_name}さんのレシピ" %>
      </p>
     <% @recipes.each do |recipe| %>
      <div class="recipe1">
        <%= link_to recipe_path(recipe) do %>
         <p class="recipe-content">
          <%= image_tag recipe.image, class: "recipe-image" if recipe.image.attached? %>
         </p>
        <% end %>
         <p class="recipe-title">
          <%= recipe.dish_name%>
         </p>
      </div>
     <% end %>
  </div>
</div>
<%= render "shared/footer" %>